<?xml version="1.0"?>
<launch>
  <!-- Usage: roslaunch kims sw_pgo.launch dataset:=iului sequence:=SquareBob -->
  <arg name="dataset"  default="all" doc="iului | miluv | ntu | all" />
  <arg name="sequence" default="all" doc="sequence name or all" />
  <node name="sw_pgo_runner" pkg="kims" type="run.py" output="screen" required="true"
        args="--method sw_pgo --dataset $(arg dataset) --sequence $(arg sequence)" />
</launch>
