<?xml version="1.0"?>
<launch>
  <!-- Usage: roslaunch kims ukf_rts.launch dataset:=iului sequence:=SquareBob -->
  <arg name="dataset"  default="all" doc="iului | miluv | ntu | all" />
  <arg name="sequence" default="all" doc="sequence name or all" />
  <node name="ukf_rts_runner" pkg="kims" type="run.py" output="screen" required="true"
        args="--method ukf_rts --dataset $(arg dataset) --sequence $(arg sequence)" />
</launch>
